<div class="header">
  <!-- <div class="container">
    <h1>Cotizacíon</h1>
  </div> -->
</div>

<div class="create">
  <div class="container">

    <!-- Your code here -->
    <%= form_for(@bills) do |f| %>
      <div class="field">
        <h3>COMPAÑIA O CLIENTE:</h3>
        <%= f.text_area :company %>
        <br>
        <h3>EMAIL DE CLIENTE </h3>
        <%= f.text_area :email %>
        <h3>FECHA DE ENTREGA: </h3>
        <%= f.text_area :deadline%>
        <!-- <h3>AGENTE: </h3> -->
        <%= f.text_area :agent, :id => 'agenteForm', :class => 'hidden'%>
        <h3>ESPECIFICACIONES: </h3>
        <p>*otros</p>
        <%= f.text_area :specifications, :id => 'especificacionesForm' %>
        <!-- <h3>TOTAL: </h3> -->
        <%= f.text_area :total, :id => 'totalForm', :class => 'hidden' %>
        <!-- <h3>TOTAL + IVA: </h3> -->
        <%= f.text_area :totalIva, :id => 'totalIvaForm', :class => 'hidden' %>

      </div>
      <div class="actions">
        <br>
        <%= f.submit "Crear Cotización", :class => 'btn btn-success', :id => 'cotizar' %>
      </div>
    <% end %>

  </div>

  <script>

    $('#cotizarModal').click(function(){

        var autoAgent = $('#email').text()
        $('#agenteForm').prop('value', autoAgent);

        var autoTotal = $('#total').text();
        $('#totalForm').prop('value', autoTotal);

        var autoTotalIva = $('#iva').text();
        $('#totalIvaForm').prop('value', Number(autoTotalIva));

        var totalEsp = ""
        var autoEsp = $('#concepto').children();
        $.each( autoEsp, function( key, value ) {
          var chomp =$(value).prop('innerHTML');
           totalEsp += chomp + ", ";
        });
        $('#especificacionesForm').prop('value', totalEsp);

    });

  </script>

</div>
